.config {
  background-color: aqua;
  border-radius: 24px;
  box-shadow: burlywood;
  margin: auto;
  margin-top: 5%;
  /* -webkit-box-shadow: 9px 7px 5px rgba(107, 83, 50, 0.77); */
  width: 50%;
}

.selects {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 5%;
}

.inpt {
  border-radius: 10px;
}
